p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

label {
    font-size: 20px;
    margin-right: 10px;
}

span {
    font-size: 20px;
    font-weight: bold;
}